body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  color: #f1f1f1;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(222, 242, 246, 0.85);
  z-index: -1;
}

header {
  position: relative;
  background: url('https://4.bp.blogspot.com/-QEYM9dbn5Zw/WkYeTYTjxII/AAAAAAAAM3o/pmuI2FjcQXcXHqDNynMEE79cgMNfG9n-QCLcBGAs/s1600/maxresdefault.jpg') center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}

header h1 {
  position: relative;
  font-size: 3rem;
  color: #fff;
  z-index: 1;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.9);
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background-image: url(https://images.freeimages.com/images/large-previews/641/chilean-flag-1-1451479.jpg);
  background-position: center;
  background-color: #f1f1f1;
}

section {
  margin: 40px 0;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 12px;
}

h2 {
  color: #ff4c4c;
  margin-bottom: 15px;
  border-left: 5px solid #ff4c4c;
  padding-left: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition-duration: 0.3s;

}

.card:hover {
    background-color: #949494;
    color: #0a0a0a;
    
}

.card h3 {
  margin-top: 0;
  color: #ffd166;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background: rgba(0,0,50,0.8);
  color: #fff;
}

tr:nth-child(even) {
  background: rgba(255,255,255,0.07);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #aaa;
  background: rgba(0,0,0,0.6);
}
.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video-container iframe {
  width: 100%;
  max-width: 700px;  /* ancho máximo del video /
  height: 350px;     / altura del video */
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
